<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="{{StaticUrl "bootstrap/css/bootstrap.min.css"}}" />
<script src="{{StaticUrl "js/jquery.min.js"}}"></script>
<style>
.footer {
    text-align: center;
    padding: 30px 0px;
    margin-top: 70px;
    border-top: 1px solid rgb(229, 229, 229);
    background-color: rgb(245, 245, 245);
}
</style>
	</head>
	<body>
		<div class="container">
<div class="navbar">
    <div class="navbar-inner">
    <a class="brand" href="#">用户管理系统</a>
    <ul class="nav">
    <li class="active"><a href="/list">用户列表</a></li>
    <li><a href="/add">添加用户</a></li>
    <li><a href="/logout">退出</a></li>
    </ul>
</div>
</div>
